.logo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  justify-content: center;
  margin: 5% 0 2% 0;
  font-size: 3rem;
  font-weight: 900;
}

.logo img {
  height: 100%;
  width: auto;
  object-fit: contain;
  margin-right: 1rem;
  border-radius: 100%;
}
